<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ratheesh.war2">

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="WaR"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WAR.Login"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Company.Register_Company"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Company.Add_Branch"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Company.Add_staff"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Company.Company_profile"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Branch.Branch_profil"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Branch.Add_Staff"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Staff.Sales"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Company.Add_product"
            android:label="@string/title_activity_add_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Staff.Staff_profile"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Company.Add_Category"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>